.content {
  padding: 60px 20px;
  margin: 30px;
}

img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
  text-decoration: none;
}

.project-p {
  font-size: 20px;
  font-weight: bold;
}

.project-info {
  line-height: 1.9;
}
