.content {
  padding: 60px 20px;
  margin: 30px;
}

.project-title {
  text-align: left;
}

img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
  text-decoration: none;
}

.project-p {
  font-size: 20px;
  font-weight: bold;
}

.project-info {
  line-height: 1.9;
}

@media (max-width: 960px) {
  .content-container h1 {
    padding: 45px;
    text-align: center;
    font-size: 45px;
    line-height: 1.5;
  }

  .content {
    margin: 0;
  }

  h3 {
    font-size: 40px;
  }

  .content-container {
    text-align: center;
    padding: 0px;
  }

  .content {
    padding: 0;
  }
}
