footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

h3 {
  font-size: 50px;
  color: azure;
  padding: 20px 0;
}

.contact-box-index {
  background-color: #a070a1;
  padding: 20px 120px;
  margin: 60px;
  border-radius: 10px;
}

.work-together-title {
  font-size: 25px;
  color: azure;
  margin-top: -15px;
}

.home-email {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.btn-branding {
  background-color: azure;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.social-links {
  color: #a070a1;
  font-size: 50px;
  padding: 20px;
  margin-top: 30px;
}

@media (max-width: 960px) {
  .home-email {
    font-size: 20px;
  }

  .social-links {
    font-size: 40px;
    margin-top: 10px;
  }

  footer {
    margin-top: 10px;
  }
}
