nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin-right: 15px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 30px;
}

.nav-title {
  text-decoration: none;
  color: #a070a1;
  transition: all 100ms ease-in-out;
}

nav .nav-title:hover,
nav li.active a {
  color: #a070a1;
}

.title {
  margin-top: 10px;
}

.navImage {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

@media (max-width: 960px) {
  nav {
    font-size: 14px;
  }
}
