h1,
h2 {
  text-align: center;
  color: #a070a1;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 40px;
  margin-top: 50px;
}

h3 {
  font-size: 50px;
  color: azure;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin-right: 15px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #a070a1;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
}

.title {
  margin-top: 10px;
}

.navImage {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.developer-statement {
  text-align: center;
  padding: 40px;
}

.featured-projects {
  margin-bottom: 50px;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  text-align: justify;
}

.project-image {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
  text-align: center;
  color: #a070a1;
}

p {
  padding: 0;
}

footer {
  text-align: center;
}

.Container {
  padding: 90px;
  background-color: #f8e7e7;
  text-align: center;
}

.contact-btn {
  display: inline-block;
  background-color: azure;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
  color: #a070a1;
  transition: ease-in-out 0.3s;
}

.contact-btn:hover {
  background-color: #a070a1;
  color: azure;
}

.index-page-titles {
  text-align: start;
  margin-bottom: 20px;
}

.contact-box-index {
  background-color: #a070a1;
  padding: 30px 120px;
  margin: 60px;
  border-radius: 10px;
}

.btn-branding {
  background-color: azure;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.work-together-title {
  color: azure;
  font-size: 25px;
}

.home-links {
  margin-top: 20px;
  border: 1px solid #a070a1;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 15px 30px;
  transition: ease-in-out 0.3s;
}

.home-email {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.social-links {
  color: #a070a1;
  font-size: 50px;
  padding: 20px;
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
}
