h1,
h2 {
  text-align: center;
  color: #a070a1;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 40px;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.developer-statement {
  text-align: center;
  padding: 40px;
}

.featured-projects {
  margin-bottom: 50px;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  text-align: justify;
}

a {
  text-align: center;
  color: #a070a1;
}

p {
  padding: 0;
}

footer {
  text-align: center;
}
.Container {
  padding: 90px;
  background-color: #f8e7e7;
  text-align: center;
}

.contact-btn {
  display: inline-block;
  background-color: azure;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
  color: #a070a1;
  transition: ease-in-out 0.3s;
}

.contact-btn:hover {
  background-color: #a070a1;
  color: azure;
}

.index-page-titles {
  text-align: start;
  margin-bottom: 20px;
}

.home-links {
  margin-top: 20px;
  border: 1px solid #a070a1;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 15px 30px;
  transition: ease-in-out 0.3s;
}

.home-email {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.social-links {
  color: #a070a1;
  font-size: 50px;
  padding: 20px;
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
}
