h1,
h2 {
  text-align: center;
  color: #a070a1;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 40px;
  margin-top: 50px;
}

.developer-statement {
  font-size: 20px;
  text-align: center;
  padding: 40px;
}

.featured-projects {
  font-size: 50px;
}

.index-page-p {
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  text-align: justify;
}

.project-image {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
  text-align: center;
  color: #a070a1;
}

p {
  padding: 0;
}

.Container {
  padding: 90px;
  background-color: #f8e7e7;
  text-align: center;
}

.contact-btn {
  display: inline-block;
  background-color: azure;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
  color: #a070a1;
  transition: ease-in-out 0.3s;
}

.contact-btn:hover {
  background-color: #a070a1;
  color: azure;
}

.index-page-titles {
  text-align: start;
  margin-bottom: 20px;
}

.btn-branding {
  background-color: azure;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.home-links {
  margin-top: 20px;
  border: 1px solid #a070a1;
  border-radius: 4px;
  color: #a070a1;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  padding: 15px 30px;
  transition: ease-in-out 0.3s;
}

@media (max-width: 960px) {
  .hero-name {
    font-size: 70px;
    line-height: 1.5;
  }
  h2 {
    font-size: 40px;
  }

  .developer-statement {
    font-size: 15px;
    line-height: 2;
  }

  .index-page-titles {
    text-align: center;
  }

  .index-page-p {
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0px;
  }
  .content {
    padding: 0;
  }
}
